.hidden{
    display: none;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74EBD5, #9FACE6);
}
.container{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    width: 400px;
    text-align: center;
}
#weather-info{
    margin-top: 20px;
}

#error-message{
    color: red;
    margin-top: 20px;
}


